  <%
    def link_to(name, url) 
        return "<a href='#{url}'>#{name}</a>"
     end
    %>

<html>
  <body>
    <h1>Jonathan Everett Dille's Layout</h1>
    <p>
      <h3>Personal Website</h3> #sub header
      <p>My name is Jonathan Everett Dille. Until recently, my name was Jonathan Dille Eidsvaag, a subtle but personally important change.
      I hope you enjoy this website. There isn't much to it yet, but I'm working on it.</p> 
      <%= link_to('@theMarchofEids', 'https://twitter.com/theMarchofEids') %> 
    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3> Thanks for Stopping By!</h3> 
      <p>See you next time.</p>
    </div>
  </body>
</html>