<h1>Name</h1>
<h2>My name today is Jonathan Dille Eidsvaag. </h2>
<h2>My name tomorrow will be Jonathan Everett Dille. </h2>
<h2>Change is good. </h2>


<h1>Name</h1>
<ul>
  <% ['apples', 'oranges', 'bananas'].each do |fruit| %>
    <li>I like to eat <%= fruit %></li>
  <% end %>
</ul>